@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-success" id="Approved-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Approved Data Successfully.
</div>
<div class="alert alert-success" id="Reject-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Reject Data Successfully.
</div>


<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info" style="border-radius: 20px">
            @*<i class="ace-icon fa fa-save icon-animated-hand-pointer white"></i>*@
            <a href="#modal-MachineReviewer" data-toggle="modal" class="white">For Machine Reviewer</a>
        </button>

        <button class="btn btn-info" style="border-radius: 20px">
            @*<i class="ace-icon fa fa-save icon-animated-hand-pointer white"></i>*@
            <a href="#modal-MachineApprover" data-toggle="modal" class="white">For Machine Approver</a>
        </button>
        <button class="btn btn-info" style="border-radius: 20px">
            @*<i class="ace-icon fa fa-save icon-animated-hand-pointer white"></i>*@
            <a href="#modal-ScheduleReviewer" data-toggle="modal" class="white">For Schedule Reviewer</a>
        </button>
        <button class="btn btn-info" style="border-radius: 20px">
            @*<i class="ace-icon fa fa-save icon-animated-hand-pointer white"></i>*@
            <a href="#modal-ScheduleApprover" data-toggle="modal" class="white">For Schedule Approver</a>
        </button>
        <button class="btn btn-info" style="border-radius: 20px">
            @*<i class="ace-icon fa fa-save icon-animated-hand-pointer white"></i>*@
            <a href="#modal-ScheduleExecution" data-toggle="modal" class="white">For Schedule Execution</a>
        </button>
    </div>
</div>
<div class="form-group"></div>
@*Added By Zuber Khan On 21-08-2020*@
<div id="calendarMonth" class="col-sm-12"></div>

<label for="form-field-8" id="ButtonId"> </label>
<label for="form-field-8" id="Id"> </label>

<div class="modal" id="modal-MachineReviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Machine List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Reviewer</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Instrument Name</th>
                                    <th>Instrument Department</th>
                                    <th>Instrument Location</th>
                                    <th>Instrument WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.MachineReviewer)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Edit Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Delete Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-MachineApprover" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Machine List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Approver</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 150px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Instrument Name</th>
                                    <th>Instrument Department</th>
                                    <th>Instrument Location</th>
                                    <th>Instrument WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.MachineApprover)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Edit Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Delete Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleReviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Reviewer</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleReviewer)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleApproved",@item.Id) title="Edit Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleReject",@item.Id) title="Delete Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Id</td>
                                        <td>@item.FrequencyType</td>
                                        <td>@item.ScheduleType</td>
                                        <td>@item.InstallationDate</td>
                                        <td>@item.ScheduleDueDate</td>
                                        <td>@item.BGracedPeriod</td>
                                        <td>@item.AGrancedPeriod</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleApprover" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Approver</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleApprover)
                                {
                                <tr>
                                    <td>
                                        <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleApproved",@item.Id) title="Edit Service">Approved</button>
                                        <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleReject",@item.Id) title="Delete Service">Reject</button>
                                    </td>
                                    <td hidden>@item.Id</td>
                                    <td>@item.FrequencyType</td>
                                    <td>@item.ScheduleType</td>
                                    <td>@item.InstallationDate</td>
                                    <td>@item.ScheduleDueDate</td>
                                    <td>@item.BGracedPeriod</td>
                                    <td>@item.AGrancedPeriod</td>
                                </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleExecution" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Schedule Execution</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleExecution)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleApproved",@item.Id) title="Edit Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleReject",@item.Id) title="Delete Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Id</td>
                                        <td>@item.FrequencyType</td>
                                        <td>@item.ScheduleType</td>
                                        <td>@item.InstallationDate</td>
                                        <td>@item.ScheduleDueDate</td>
                                        <td>@item.BGracedPeriod</td>
                                        <td>@item.AGrancedPeriod</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="AddRemark" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Add Remark
            </div>
            <div id="DivwaitingTreatment" class="hide widget-box-overlay">
                <div id="" style="z-index:1040;position:absolute;top:50%;" class="col-sm-12 col-xs-12 row center">
                    <i class="fa fa-spinner fa fa-spin orange bigger-300"></i>
                </div>
            </div>
            <div class="modal-body no-padding" style="background-color:white;">
                <form id="frmRemark">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="form-field-8">Remark <span style="color:red;">*</span></label>
                            <textarea class="form-control" type="text" id="Remark" name="Remark" placeholder="Enter Remark"></textarea>
                            <label class="error" for="messageBody" id="messageBody_error" style="color:red;" hidden>Please Enter Remark.</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal" style="margin-top: 10px;">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-info pull-right" style="margin-top: 10px;" onclick="CallFunctionUsingId()">
                <i class="ace-icon fa fa-plus"></i>
                Add
            </button>
        </div>
    </div>
</div>

<script>
    $('.table').DataTable({
        "order": [[1, "desc"]]
    });
    function loadTable() {
        location.reload(true);
    }

    $('#calendarMonth').fullCalendar({
        buttonHtml: {
            prev: '<i class="ace-icon fa fa-chevron-left"></i>',
            next: '<i class="ace-icon fa fa-chevron-right"></i>'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month'
            //right: 'month,agendaWeek,agendaDay'
        },
    });

    function GetID(button, id) {
        $('#ButtonId').val(button);
        $('#Id').val(id);
        console.log($('#ButtonId').val());
        console.log($('#Id').val());
    }
    function CallFunctionUsingId() {
        if ($('#ButtonId').val() == "MachineApproved") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                MachineApproved($('#Id').val());
            }

        }
        else if ($('#ButtonId').val() == "MachineReject") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                MachineReject($('#Id').val());
            }
        }
        else if ($('#ButtonId').val() == "ScheduleApproved") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                ScheduleApproved($('#Id').val());
            }

        }
        else if ($('#ButtonId').val() == "ScheduleReject") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                ScheduleReject($('#Id').val());
            }
        }
    } 
    function MachineApproved(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/MachineApprove", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Approved-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Approved-alert").slideUp(1000);
                });
            }
        })
    }

    function MachineReject(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/MachineReject", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Reject-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Reject-alert").slideUp(1000);
                });
            }

        })
    }

    function ScheduleApproved(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/ScheduleApprove", data, function (result) {
            if (result == 1) {
                $('#modal-ScheduleReviewer').modal('hide');
                $('#modal-ScheduleApprover').modal('hide');

                loadTable();
                $("#Approved-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Approved-alert").slideUp(1000);
                });
            }
        })
    }

    function ScheduleReject(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/ScheduleReject", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Reject-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Reject-alert").slideUp(1000);
                });
            }

        })
    }

</script>
@*---------------------------------------------------------------------*@
