@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-success" id="Approved-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Approved Data Successfully.
</div>

<div class="alert alert-success" id="Reject-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Reject Data Successfully.
</div>
<div class="col-sm-12 infobox-container" style="margin-bottom: 35px;">
    @foreach (var grp in ViewBag.Groupchild)
    {
        if (grp.menu_Id == 4)
        {
            if (grp.access_Review == "True")
            {
                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-comments" onclick="ShowModal('InstrumentReview')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.InstrumentReviewer.Count</span>
                        <div class="infobox-content"> Instrument Under Reviewer</div>
                    </div>
                </div>
            }
            if (grp.access_Approve == "True")
            {
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-twitter" onclick="ShowModal('InstrumentApprove')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.InstrumentApprover.Count</span>
                        <div class="infobox-content"> Instrument Under Approver</div>
                    </div>
                </div>

            }
        }
        if (grp.menu_Id == 5)
        {
            if (grp.access_Review == "True")
            {
                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-comments" onclick="ShowModal('EquipmentReview')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.EquipmentReviewer.Count</span>
                        <div class="infobox-content"> Equipment Under Reviewer</div>
                    </div>
                </div>
            }
            if (grp.access_Approve == "True")
            {
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-twitter" onclick="ShowModal('EquipmentApprove')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.EquipmentApprover.Count</span>
                        <div class="infobox-content"> Equipment Under Approver</div>
                    </div>
                </div>

            }
        }
        if (grp.menu_Id == 10)
        {
            if (grp.access_Review == "True")
            {
                <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart" onclick="ShowModal('scheduleReview')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.ScheduleReviewer.Count</span>
                        <div class="infobox-content">Schedule Under Reviewer</div>
                    </div>
                </div>

            }
            if (grp.access_Approve == "True")
            {
                <div class="infobox infobox-red">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-flask" onclick="ShowModal('scheduleApprove')"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.ScheduleApprover.Count</span>
                        <div class="infobox-content">Schedule Under Approver</div>
                    </div>
                </div>
            }
        }
    }

    <div class="infobox infobox-orange2">
        <div class="infobox-chart">
            <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224" onclick="ShowModal('scheduleExecution')">
                <canvas width="44" height="33" style="display: inline-block; width: 44px; height: 33px; vertical-align: top;"></canvas>
            </span>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">@ViewBag.ScheduleExecution.Count</span>
            <div class="infobox-content">Schedule Under Execution</div>
        </div>

        @*<div class="badge badge-success">
                7.2%
                <i class="ace-icon fa fa-arrow-up"></i>
            </div>*@
    </div>

    @*<div class="infobox infobox-blue2">
            <div class="infobox-progress">
                <div class="easy-pie-chart percentage" data-percent="42" data-size="46" style="height: 46px; width: 46px; line-height: 45px;">
                    <span class="percent">42</span>%
                    <canvas height="46" width="46"></canvas>
                </div>
            </div>

            <div class="infobox-data">
                <span class="infobox-text">traffic used</span>

                <div class="infobox-content">
                    <span class="bigger-110">~</span>
                    58GB remaining
                </div>
            </div>
        </div>

        <div class="space-6"></div>

        <div class="infobox infobox-green infobox-small infobox-dark">
            <div class="infobox-progress">
                <div class="easy-pie-chart percentage" data-percent="61" data-size="39" style="height: 39px; width: 39px; line-height: 38px;">
                    <span class="percent">61</span>%
                    <canvas height="39" width="39"></canvas>
                </div>
            </div>

            <div class="infobox-data">
                <div class="infobox-content">Task</div>
                <div class="infobox-content">Completion</div>
            </div>
        </div>

        <div class="infobox infobox-blue infobox-small infobox-dark">
            <div class="infobox-chart">
                <span class="sparkline" data-values="3,4,2,3,4,4,2,2"><canvas width="39" height="19" style="display: inline-block; width: 39px; height: 19px; vertical-align: top;"></canvas></span>
            </div>

            <div class="infobox-data">
                <div class="infobox-content">Earnings</div>
                <div class="infobox-content">$32,000</div>
            </div>
        </div>

        <div class="infobox infobox-grey infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-download"></i>
            </div>

            <div class="infobox-data">
                <div class="infobox-content">Downloads</div>
                <div class="infobox-content">1,205</div>
            </div>
        </div>*@
</div>

@*<div class="row">
        <div class="col-sm-12">
            <button class="btn btn-info" style="border-radius: 20px">
                <a href="#modal-MachineReviewer" data-toggle="modal" class="white">For Machine Reviewer</a>
            </button>

            <button class="btn btn-info" style="border-radius: 20px">
                <a href="#modal-MachineApprover" data-toggle="modal" class="white">For Machine Approver</a>
            </button>
            <button class="btn btn-info" style="border-radius: 20px">
                <a href="#modal-ScheduleReviewer" data-toggle="modal" class="white">For Schedule Reviewer</a>
            </button>
            <button class="btn btn-info" style="border-radius: 20px">
                <a href="#modal-ScheduleApprover" data-toggle="modal" class="white">For Schedule Approver</a>
            </button>
            <button class="btn btn-info" style="border-radius: 20px">
                <a href="#modal-ScheduleExecution" data-toggle="modal" class="white">For Schedule Execution</a>
            </button>
        </div>
    </div>*@
<div class="form-group"></div>
@*Added By Zuber Khan On 21-08-2020*@
<div id="calendarMonth" class="col-sm-12"></div>

<label for="form-field-8" id="ButtonId"> </label>
<label for="form-field-8" id="FId"> </label>

<div class="modal" id="modal-InstrumentReviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Instrument List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Reviewer</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Instrument Name</th>
                                    <th>Instrument Department</th>
                                    <th>Instrument Location</th>
                                    <th>Instrument WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.InstrumentReviewer)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-InstrumentApprover" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Machine List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Approver</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 150px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Instrument Name</th>
                                    <th>Instrument Department</th>
                                    <th>Instrument Location</th>
                                    <th>Instrument WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.InstrumentApprover)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-EquipmentReviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Equipment List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Reviewer</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Equipment ID</th>
                                    <th>Equipment Name</th>
                                    <th>Equipment Department</th>
                                    <th>Equipment Location</th>
                                    <th>Equipment WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.EquipmentReviewer)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-EquipmentApprover" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Equipment List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Approver</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 150px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Equipment ID</th>
                                    <th>Equipment Name</th>
                                    <th>Equipment Department</th>
                                    <th>Equipment Location</th>
                                    <th>Equipment WorkFlow</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.EquipmentApprover)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineApproved",@item.Machine_Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineReject",@item.Machine_Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Machine_Id</td>
                                        <td>@item.MachineID</td>
                                        <td>@item.Machine_Name</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.Machine_Location</td>
                                        <td>@item.WorkflowName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleReviewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Reviewer</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleReviewer)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleApproved",@item.Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleReject",@item.Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Id</td>
                                        <td>@item.FrequencyType</td>
                                        <td>@item.ScheduleType</td>
                                        <td>@item.InstallationDate</td>
                                        <td>@item.ScheduleDueDate</td>
                                        <td>@item.BGracedPeriod</td>
                                        <td>@item.AGrancedPeriod</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleApprover" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Approver</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleApprover)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleApproved",@item.Id) title="Approved Service">Approved</button>
                                            <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("ScheduleReject",@item.Id) title="Reject Service">Reject</button>
                                        </td>
                                        <td hidden>@item.Id</td>
                                        <td>@item.FrequencyType</td>
                                        <td>@item.ScheduleType</td>
                                        <td>@item.InstallationDate</td>
                                        <td>@item.ScheduleDueDate</td>
                                        <td>@item.BGracedPeriod</td>
                                        <td>@item.AGrancedPeriod</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleExecution" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Schedule List
            </div>
            <div class="modal-body no-padding" style="background-color:white;">

                <fieldset>
                    <legend>Schedule Execution</legend>

                    <div style="margin-top: 15px !important">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th style="width: 160px !important;">Action</th>
                                    <th hidden>ID</th>
                                    <th>Instrument ID</th>
                                    <th>Schedule Type</th>
                                    <th>Installation Date</th>
                                    <th>Schedule Due Date</th>
                                    <th>Before GracedPeriod</th>
                                    <th>After GrancedPeriod</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.ScheduleExecution)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editScheduleExecution(@item.Id)" title="Execute Service">Execute</button>
                                        </td>
                                        <td hidden>@item.Id</td>
                                        <td>@item.FrequencyType</td>
                                        <td>@item.ScheduleType</td>
                                        <td>@item.InstallationDate</td>
                                        <td>@item.ScheduleDueDate</td>
                                        <td>@item.BGracedPeriod</td>
                                        <td>@item.AGrancedPeriod</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal" id="modal-ScheduleExeData" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span style="color:black;">×</span>
                </button>
                Schedule Creation
            </div>
            <div id="DivwaitingTreatment" class="hide widget-box-overlay">
                <div id="" style="z-index:1040;position:absolute;top:50%;" class="col-sm-12 col-xs-12 row center">
                    <i class="fa fa-spinner fa fa-spin orange bigger-300"></i>
                </div>
            </div>
            <div class="modal-body no-padding">
                <form id="frmSchedule">
                    <div class="row">
                        <input class="form-control" type="hidden" id="Id" name="Id" placeholder="" />
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <div class="form-group"></div>
                            <label for="form-field-11">Instrument ID</label>
                            <input class="form-control" type="text" id="MachineId" name="MachineId" placeholder="MachineId" onkeypress="return checkAlphaNumeric()" />
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group"></div>
                            <label for="form-field-11">Schedule Type</label>
                            <select class="form-control" id="ScheduleType" name="ScheduleType">
                                <option value="0">Select Schedule Type</option>
                                <option>Calibration</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"></div>
                            <label for="form-field-11">Frequency Type</label>
                            <select class="form-control" id="FrequencyType" name="FrequencyType">
                                <option value="0">Select Frequency Type</option>
                                <option>15 Days</option>
                                <option>1 month</option>
                                <option>3 months</option>
                                <option>6 months</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label for="form-field-11">Installation Date</label>
                            <input class="form-control" type="text" id="InstallationDate" name="InstallationDate" placeholder="Installation Date" onkeypress="return checkAlphaNumeric()" />
                        </div>
                        <div class="col-sm-3">
                            <label for="form-field-8">Schedule Due Date</label>
                            <input class="form-control" type="text" id="ScheduleDueDate" name="ScheduleDueDate" placeholder="Schedule Due Date" />
                        </div>
                        <div class="col-sm-4">
                            <label for="form-field-11">Before Graced Period</label>
                            <input class="form-control" type="text" id="BGracedPeriod" name="BGracedPeriod" placeholder="Enter Before Graced Period" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label for="form-field-8">After Granced Period</label>
                            <input class="form-control" type="text" id="AGrancedPeriod" name="AGrancedPeriod" placeholder="Enter After Graced Period" />
                        </div>
                        <div class="col-sm-3">
                            <label for="form-field-11">Till Date </label>
                            <input class="form-control" type="text" id="TillDate" name="TillDate" placeholder="Enter TillDate" onkeypress="return checkAlphaNumeric()" />
                        </div>
                        <div class="col-sm-4">
                            <label for="form-field-8">Status <span style="color:red;">*</span></label>
                            <select class="form-control" id="Schedule_Status" name="Schedule_Status" onchange="dropdownChange()">
                                <option value="0">Select Status</option>
                                <option>Pass</option>
                                <option>Fail</option>
                                <option>Skip</option>
                            </select>
                            <label class="error" for="Schedule_Status" id="ScheduleStatus_error" style="color:red;" hidden>Select Status.</label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <label for="form-field-8">Upload Report</label>
                            <input class="form-control" type="text" id="Report" name="Report" placeholder="Enter After Graced Period" />
                            <input type="file" name="Schedule_Report_File" id="Schedule_Report_File" />
                            <label class="error" for="Report" id="Report_error" style="color:red;" hidden>Upload Report File.</label>
                        </div>
                        <div class="col-sm-5">
                            <label for="form-field-8">Comment <span style="color:red;">*</span></label>
                            <textarea class="form-control" id="Comment" name="Comment" placeholder="Comment"></textarea>
                            <label class="error" for="Comment" id="Comment_error" style="color:red;" hidden>Enter Comment.</label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row" id="Reschedule" hidden>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <label for="form-field-8">Reschedule Date <span style="color:red;" id="RSpan1">*</span></label>
                            <input class="form-control" type="text" id="RScheduleDueDate" name="RScheduleDueDate" placeholder="ReSchedule Due Date" />
                            <label class="error" for="RScheduleDueDate" id="RScheduleDueDate_error" style="color:red;" hidden>Please Select Date.</label>
                        </div>
                        <div class="col-sm-5">
                            <label for="form-field-8">Reason <span style="color:red;" id="RSpan2">*</span></label>
                            <textarea class="form-control" type="text" id="Reason" name="Reason" placeholder="Enter Reason"></textarea>
                            <label class="error" for="Reason" id="Reason_error" style="color:red;" hidden>Please Enter Reason.</label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal" style="margin-top: 10px;">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-info pull-right" id="Submit" style="margin-top: 10px;" onclick="ValidationSchedule()">
                <i class="ace-icon fa fa-plus"></i>
                Create
            </button>
        </div>
    </div>
</div>

<div class="modal" id="AddRemark" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding panelHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="black">×</span>
                </button>
                Add Remark
            </div>
            <div id="DivwaitingTreatment" class="hide widget-box-overlay">
                <div id="" style="z-index:1040;position:absolute;top:50%;" class="col-sm-12 col-xs-12 row center">
                    <i class="fa fa-spinner fa fa-spin orange bigger-300"></i>
                </div>
            </div>
            <div class="modal-body no-padding" style="background-color:white;">
                <form id="frmRemark">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="form-field-8">Remark <span style="color:red;">*</span></label>
                            <textarea class="form-control" type="text" id="Remark" name="Remark" placeholder="Enter Remark"></textarea>
                            <label class="error" for="messageBody" id="messageBody_error" style="color:red;" hidden>Please Enter Remark.</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal" style="margin-top: 10px;">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-info pull-right" style="margin-top: 10px;" onclick="CallFunctionUsingId()">
                <i class="ace-icon fa fa-plus"></i>
                Add
            </button>
        </div>
    </div>
</div>

<script>

    $('.table').DataTable({
        "order": [[1, "desc"]]
    });

    (function ($) {
        $('#RScheduleDueDate').datetimepicker({
            format: 'DD-MM-YYYY HH:mm:ss'
        });
    }(jQuery));

    function loadTable() {
        location.reload(true);
    }
    function ShowModal(modalName) {
        if (modalName == "InstrumentReview") {
            $('#modal-InstrumentReviewer').modal('show');
        }
        else if (modalName == "InstrumentApprove") {
            $('#modal-InstrumentApprover').modal('show');
        }
        else if (modalName == "EquipmentReview") {
            $('#modal-EquipmentReviewer').modal('show');
        }
        else if (modalName == "EquipmentApprove") {
            $('#modal-EquipmentApprover').modal('show');
        }
        else if (modalName == "scheduleReview") {
            $('#modal-ScheduleReviewer').modal('show');
        }
        else if (modalName == "scheduleApprove") {
            $('#modal-ScheduleApprover').modal('show');
        }
        else {
            $('#modal-ScheduleExecution').modal('show');
        }

    }

    function LoadCalander() {
        var events = []
        $.ajax({
            type: "POST",
            url: "@Url.Action("fillCalendar", "Home")",
            contentType: "application/json",
            success: function (result) {
                console.log(result)
                for (var i = 0; i < result.length; i++) {
                    var startDate = moment(result[i].ScheduleDueDate).format('YYYY/MM/DD HH:mm')
                    var endDate = moment(result[i].ScheduleDueDate).format('YYYY/MM/DD HH:mm')
                    events.push({
                        "id": result[i].Id,
                        "title": result[i].FrequencyType,
                        "ällday": true,
                        "color": "white",
                        "textColor": "black",
                        "start": startDate,
                        "end": endDate
                    });

                }
                $('#calendarMonth').fullCalendar(
                    {
                        contentHeight: 400,
                        defaultDate: new Date(),
                        //color: 'lightBlue',
                        //timeFormat: 'h(:mm)a',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        //eventRendar: function (eventObj,$el) {
                        //    var modal =
                        //        '<p><b>' + eventObj.FrequencyType.replace(/;/g, '<br/>') + '</b></p>\
                    		  //<table class="table table-condensed table-bordered">\
                        //        <tr><td class="blue">Start Date : </td><td>' + eventObj.start.format('lll') + '</td></tr>\
                        //        <tr><td class="blue">End Date : </td><td>' + eventObj.end.format('lll') + '</td></tr>\
                        //        </table>';
                        //    $el.popover({
                        //        title: "TEst",
                        //        content: modal,
                        //        trigger: 'hover',
                        //        placement: 'bottom',
                        //        container: 'body',
                        //        html: true
                        //    });
                        //}
                    })
                }
        })
        //events.push({
        //    "id": 1,
        //    "title": "Zuber",
        //    "allday": true,
        //    "color": "#FFFF00",
        //    "textColor": "#000000",
        //    "start": moment('2020-09-16 10:00:00').format('YYYY/MM/DD HH:mm'),
        //    "end": moment('2020-09-16 10:00:00').format('YYYY/MM/DD HH:mm')
        //}, {
        //        "id": 2,
        //        "title": "Zuber",
        //        "allday": true,
        //        "color": "#FFFF00",
        //        "textColor": "#000000",
        //        "start": moment('2020-09-17 11:00:00').format('YYYY/MM/DD HH:mm'),
        //        "end": moment('2020-09-17 11:00:00').format('YYYY/MM/DD HH:mm')
        //    },
        //    {
        //        "id": 3,
        //        "title": "Zuber",
        //        "allday": true,
        //        "color": "#FFFF00",
        //        "textColor": "#000000",
        //        "start": moment('2020-09-18 11:00:00').format('YYYY/MM/DD HH:mm'),
        //        "end": moment('2020-09-18 11:00:00').format('YYYY/MM/DD HH:mm')
        //    })

        //var calendarMonth = $('#calendarMonth').fullCalendar({
        //    buttonHtml: {
        //        prev: '<i class="ace-icon fa fa-chevron-left"></i>',
        //        next: '<i class="ace-icon fa fa-chevron-right"></i>'
        //    },
        //    header: {
        //        left: 'prev,next today',
        //        center: 'title',
        //        //right: 'month'
        //        right: 'month,agendaWeek,agendaDay'
        //    },
        //    event: event
        //});

        //calendarMonth.fullCalendar('changeView', 'agendaWeek');
    }
    function GetID(button, id) {
        $('#ButtonId').val(button);
        $('#FId').val(id);
        console.log($('#ButtonId').val());
        console.log($('#FId').val());
    }

    function CallFunctionUsingId() {
        if ($('#ButtonId').val() == "MachineApproved") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                MachineApproved($('#FId').val());
            }

        }
        else if ($('#ButtonId').val() == "MachineReject") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                MachineReject($('#FId').val());
            }
        }
        else if ($('#ButtonId').val() == "ScheduleApproved") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                ScheduleApproved($('#FId').val());
            }

        }
        else if ($('#ButtonId').val() == "ScheduleReject") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                ScheduleReject($('#FId').val());
            }
        }
        else if ($('#ButtonId').val() == "ScheduleExecutionSubmit") {
            if ($('#Remark').val().trim() == "") {
                $('#messageBody_error').show();
                $("#messageBody_error").fadeOut(2000);
            }
            else {
                submitSExecution();
            }
        }
    }

    function MachineApproved(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/MachineApprove", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Approved-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Approved-alert").slideUp(1000);
                });
            }
        })
    }

    function MachineReject(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/MachineReject", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Reject-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Reject-alert").slideUp(1000);
                });
            }

        })
    }

    function ScheduleApproved(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/ScheduleApprove", data, function (result) {
            if (result == 1) {
                $('#modal-ScheduleReviewer').modal('hide');
                $('#modal-ScheduleApprover').modal('hide');

                loadTable();
                $("#Approved-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Approved-alert").slideUp(1000);
                });
            }
        })
    }

    function ScheduleReject(id) {
        var data = {
            ID: id,
            Remark: $('#Remark').val(),
        };
        $.post("/Home/ScheduleReject", data, function (result) {
            if (result == 1) {
                $('#modal-MachineReviewer').modal('hide');
                $('#modal-MachineApprover').modal('hide');

                loadTable();
                $("#Reject-alert").fadeTo(2000, 1000).slideUp(1000, function () {
                    $("#Reject-alert").slideUp(1000);
                });
            }

        })
    }

    function editScheduleExecution(id) {
        $('#DivwaitingTreatment').removeClass('hide')
        var id = { id: id };
        $.get("/Home/ScheduleEdit", id, function (result) {

            $('#modal-ScheduleExecution').modal('toggle');
            $('#modal-ScheduleExeData').modal('toggle');
            console.log(result);
            $("#Id").val(result.id);
            $("#MachineId").val(result.machineID);
            $('#MachineId').attr('disabled', true);
            $('#ScheduleType').val(result.SType);
            $('#ScheduleType').attr('disabled', true);
            $('#FrequencyType').val(result.FType);
            $('#FrequencyType').attr('disabled', true);
            $('#InstallationDate').val(moment(result.InstDate).format('DD/MM/YYYY hh:mm a'));
            $('#InstallationDate').attr('readonly', true);
            $('#ScheduleDueDate').val(moment(result.SDueDate).format('DD/MM/YYYY hh:mm a'));
            $('#ScheduleDueDate').attr('readonly', true);
            $('#BGracedPeriod').val(result.BGP);
            $('#BGracedPeriod').attr('readonly', true);
            $('#AGrancedPeriod').val(result.AGP);
            $('#AGrancedPeriod').attr('readonly', true);
            $('#TillDate').val(result.tillDate);
            $('#TillDate').attr('readonly', true);
            $('#DivwaitingTreatment').addClass('hide')
        });
    }

    function dropdownChange() {
        if ($('#Schedule_Status').val() == "Fail") {
            $('#RSpan1').show();
            $('#RSpan2').show();
            $('#Reschedule').show();
        }
        else if ($('#Schedule_Status').val() == "Skip") {
            $('#RSpan1').hide();
            $('#RSpan2').hide();
            $('#Reschedule').show();
        }
        else
            $('#Reschedule').hide();
    }

    //Validation Function
    function ValidationSchedule() {
        var isValid = true;
        if ($('#Schedule_Status').val() == "0") {
            $('#ScheduleStatus_error').show();
            $("#ScheduleStatus_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#ScheduleStatus_error').hide();
        }
        if ($('#Report').val().trim() == "") {
            $('#Report_error').show();
            $("#Report_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#Report_error').hide();
        }
        if ($('#Comment').val().trim() == "") {
            $('#Comment_error').show();
            $("#Comment_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#Comment_error').hide();
        }
        if ($('#Schedule_Status').val() == "Fail") {
            if ($('#RScheduleDueDate').val().trim() == "") {
                $('#RScheduleDueDate_error').show();
                $("#RScheduleDueDate_error").fadeOut(2000);
                isValid = false;
            }
            else {
                $('#RScheduleDueDate_error').hide();
            }
            if ($('#Reason').val().trim() == "") {
                $('#Reason_error').show();
                $("#Reason_error").fadeOut(2000);
                isValid = false;
            }
            else {
                $('#Reason_error').hide();
            }
        }
        if (isValid == true) {
                $('#modal-ScheduleExeData').modal('hide');
                $('#AddRemark').modal('show');
                GetID('ScheduleExecutionSubmit', '');
        }
        return isValid;
    }

    var filename = "";
    $('input[type="file"]').change(function (e) {
        filename = e.target.files[0].name;
        $('#Report').val(filename);
        // alert('The file "' + filename + '" has been selected.');
    });

    function submitSExecution() {
        var res = ValidationSchedule();
        if (res == false) {
            return false;
        }
        var scheduleExe = {}; var remark;
        scheduleExe.ScheduleId = $("#Id").val();
        scheduleExe.Schedule_Status = $("#Schedule_Status").val();
        scheduleExe.Schedule_Report_File = filename;
        scheduleExe.Comment = $("#Comment").val();
        remark = $('#Remark').val();
        RSDate = $('#RScheduleDueDate').val();
        Reason = $('#Reason').val();
        var data = {
            ScheduleExe: scheduleExe,
            Remark: remark,
            RscheduleDate: RSDate,
            Reason: Reason,
        }
        console.log(data);
        $('#DivwaitingTreatment').removeClass('hide')
        $.post("/Home/ScheduleExecution", data, function (result) {
            $('#AddRemark').modal('hide');
            loadTable();
            $('#DivwaitingTreatment').addClass('hide')
            if (result == "Save Success") {
                $("#Save-alert").fadeTo(2000, 10000).slideUp(10000, function () {
                    $("#Save-alert").slideUp(10000);
                });
            } else {
                $("#Update-alert").fadeTo(2000, 10000).slideUp(10000, function () {
                    $("#Update-alert").slideUp(10000);
                });
            }
        })
    }
    LoadCalander();
</script>
@*---------------------------------------------------------------------*@
