
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" id="Save-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Save Data Successfully.
</div>
<div class="alert alert-success" id="Update-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Update Data Successfully.
</div>
<div class="alert alert-success" id="Delete-alert" hidden="hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Delete Data Successfully.
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#User" aria-expanded="true">
                                <i class="blue ace-icon fa fa-users bigger-120"></i>
                                User
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#Department" aria-expanded="false">
                                <i class="blue ace-icon fa fa-building bigger-120"></i>
                                Department
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#Designation" aria-expanded="false">
                                <i class="blue ace-icon fa fa-flag bigger-120"></i>
                                Designation
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#NewMachine" aria-expanded="false">
                                <i class="blue ace-icon fa fa-industry bigger-120"></i>
                                New Instrument
                            </a>
                        </li>
                    </ul>
                    <label for="form-field-8" id="ButtonId"> </label>
                    <label for="form-field-8" id="Id"> </label>

                    <div class="tab-content">
                        @*<div id="User" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-sm-12">
                                    @foreach (var grp in ViewBag.Groupchild)
                                    {
                                        if (grp.menu_Id == 1)
                                        {
                                            if (grp.access_Create == "true")
                                            {

                                                <button class="btn btn-info pull-right" style="border-radius: 20px">
                                                    <i class="ace-icon fa fa-plus icon-animated-hand-pointer white"></i>
                                                    <a href="#modal-User" data-toggle="modal" class="white" onclick="ClearTextBox();">Add</a>
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div style="margin-top: 15px !important">
                                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                    <thead>
                                        <tr>
                                            @foreach (var grp in ViewBag.Groupchild)
                                            {
                                                if (grp.menu_Id == 1)
                                                {
                                                    if (grp.access_Modify == "true" || grp.access_Delete == "true")
                                                    {
                                                        <th style="width: 130px !important;">Action</th>
                                                    }
                                                }
                                            }
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Type</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.Employee)
                                        {
                                            <tr>
                                                @foreach (var grp in ViewBag.Groupchild)
                                                {
                                                    if (grp.menu_Id == 1)
                                                    {
                                                        if (grp.access_View == "true")
                                                        {

                                                        }
                                                        if (grp.access_Delete == "true" || grp.access_Modify == "true")
                                                        {
                                                            <td>
                                                                @if (grp.access_Modify == "true" && grp.access_Delete == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editEmployee(@item.Employee_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("EmployeeDelete",@item.Employee_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "true")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editEmployee(@item.Employee_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("EmployeeDelete",@item.Employee_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                            </td>

                                                        }

                                                    }

                                                }

                                                <td>@item.Employee_Name</td>
                                                <td>@item.Employee_Email</td>
                                                <td>@item.Employee_Contact</td>

                                                <td>@item.Employee_Type</td>
                                                <td>@item.CreatedBy</td>
                                                <td>@item.CreateDate</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>*@

                        <div id="Department" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-12">
                                    @foreach (var grp in ViewBag.Groupchild)
                                    {
                                        if (grp.menu_Id == 1)
                                        {
                                            if (grp.access_Create == "true")
                                            {
                                                <button class="btn btn-info pull-right" style="border-radius: 20px">
                                                    <i class="ace-icon fa fa-plus icon-animated-hand-pointer white"></i>
                                                    <a href="#modal-Department" data-toggle="modal" class="white">Add</a>
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div style="margin-top: 15px !important">
                                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                    <thead>
                                        <tr>
                                            @foreach (var grp in ViewBag.Groupchild)
                                            {
                                                if (grp.menu_Id == 1)
                                                {
                                                    if (grp.access_Modify == "true" || grp.access_Delete == "true")
                                                    {
                                                        <th style="width: 130px !important;">Action</th>
                                                    }
                                                }
                                            }
                                            <th>Department Name</th>
                                            <th>Department Description</th>

                                            <th>Created Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.LstDpart)
                                        {
                                            <tr>
                                                @foreach (var grp in ViewBag.Groupchild)
                                                {
                                                    if (grp.menu_Id == 1)
                                                    {
                                                        if (grp.access_View == "true")
                                                        {

                                                        }
                                                        if (grp.access_Delete == "true" || grp.access_Modify == "true")
                                                        {
                                                            <td>

                                                                @if (grp.access_Modify == "true" && grp.access_Delete == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editDepartment(@item.Department_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("DepartmentDelete",@item.Department_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "true")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editDepartment(@item.Department_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("DepartmentDelete",@item.Department_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                            </td>
                                                        }
                                                    }
                                                }
                                                <td>@item.Department_Name</td>
                                                <td>@item.Department_Description</td>
                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div id="Designation" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-12">
                                    @foreach (var grp in ViewBag.Groupchild)
                                    {
                                        if (grp.menu_Id == 1)
                                        {
                                            if (grp.access_Create == "true")
                                            {
                                                <button class="btn btn-info pull-right" style="border-radius: 20px">
                                                    <i class="ace-icon fa fa-plus icon-animated-hand-pointer white"></i>
                                                    <a href="#modal-Designation" data-toggle="modal" class="white">Add</a>
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div style="margin-top: 15px !important">
                                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                    <thead>
                                        <tr>
                                            @foreach (var grp in ViewBag.Groupchild)
                                            {
                                                if (grp.menu_Id == 1)
                                                {
                                                    if (grp.access_Modify == "true" || grp.access_Delete == "true")
                                                    {
                                                        <th style="width: 130px !important;">Action</th>
                                                    }
                                                }
                                            }
                                            <th>Designation Name</th>
                                            <th>Designation Description</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.LstDesig)
                                        {
                                            <tr>
                                                @foreach (var grp in ViewBag.Groupchild)
                                                {
                                                    if (grp.menu_Id == 1)
                                                    {
                                                        if (grp.access_View == "true")
                                                        {

                                                        }
                                                        if (grp.access_Modify == "true" && grp.access_Delete == "true")
                                                        {
                                                            
                                                            <td>
                                                                @if (grp.access_Modify == "true" && grp.access_Delete == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editDesignation(@item.Designation_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("DesignationDelete",@item.Designation_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "true")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editDesignation(@item.Designation_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("DesignationDelete",@item.Designation_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                            </td>
                                                        }
                                                    }
                                                }
                                                <td>@item.Designation_Name</td>
                                                <td>@item.Designation_Description</td>
                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>


                        </div>
                        <div id="NewMachine" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-12">
                                    @foreach (var grp in ViewBag.Groupchild)
                                    {
                                        if (grp.menu_Id == 1)
                                        {
                                            if (grp.access_Create == "true")
                                            {
                                                <button class="btn btn-info pull-right" style="border-radius: 20px">
                                                    <i class="ace-icon fa fa-plus icon-animated-hand-pointer white"></i>
                                                    <a href="#modal-Machine" data-toggle="modal" class="white">Add</a>
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div style="margin-top: 15px !important">
                                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                    <thead>
                                        <tr>
                                            @foreach (var grp in ViewBag.Groupchild)
                                            {
                                                if (grp.menu_Id == 1)
                                                {
                                                    if (grp.access_Modify == "true" || grp.access_Delete == "true")
                                                    {
                                                        <th style="width: 130px !important;">Action</th>
                                                    }
                                                }
                                            }
                                            <th>Instrument Name</th>
                                            <th>Instrument Department</th>
                                            <th>Instrument Location</th>
                                            <th>Instrument Instalattion Time</th>
                                            <th>Instrument Schedule Type</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.lstMachine)
                                        {
                                            <tr>
                                                @foreach (var grp in ViewBag.Groupchild)
                                                {
                                                    if (grp.menu_Id == 1)
                                                    {
                                                        if (grp.access_View == "true")
                                                        {

                                                        }
                                                        if (grp.access_Modify == "true" && grp.access_Delete == "true")
                                                        {
                                                            
                                                            <td>
                                                                @if (grp.access_Modify == "true" && grp.access_Delete == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editMachine(@item.Machine_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "false")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineDelete",@item.Machine_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                                @if (grp.access_Delete == "true" && grp.access_Modify == "true")
                                                                {
                                                                    <button class="btn btn-minier btn-white btn-info btn-bold" onclick="editMachine(@item.Machine_Id)" title="Edit Service"><i class='ace-icon fa fa-pencil bigger-80'></i></button>
                                                                    <button class="btn btn-minier btn-white btn-danger btn-bold" data-toggle="modal" data-target="#AddRemark" onclick=GetID("MachineDelete",@item.Machine_Id) title="Delete Service"><i class='ace-icon fa fa-trash bigger-80'></i></button>
                                                                }
                                                            </td>
                                                        }
                                                    }
                                                }
                                                <td>@item.Machine_Name</td>
                                                <td>@item.Machine_Department</td>
                                                <td>@item.Machine_Location</td>

                                                <td>@item.Machine_InstallationTime</td>
                                                <td>@item.Machine_ScheduleType</td>
                                                <td>@item.CreatedBy</td>

                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.col -->
    </div>

    <div class="modal" id="AddRemark" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding panelHead">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="black">×</span>
                    </button>
                    Add Remark
                </div>
                <div id="DivwaitingTreatment" class="hide widget-box-overlay">
                    <div id="" style="z-index:1040;position:absolute;top:50%;" class="col-sm-12 col-xs-12 row center">
                        <i class="fa fa-spinner fa fa-spin orange bigger-300"></i>
                    </div>
                </div>
                <div class="modal-body no-padding" style="background-color:white;">
                    <form id="frmRemark">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="form-field-8" id="DeleteId"> </label>
                                <label for="form-field-8">Remark <span style="color:red;">*</span></label>
                                <textarea class="form-control" type="text" id="Remark" name="Remark" placeholder="Enter Remark"></textarea>
                                <label class="error" for="messageBody" id="messageBody_error" style="color:red;" hidden>Please Enter Remark.</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal" style="margin-top: 10px;">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
                <button class="btn btn-sm btn-info pull-right" style="margin-top: 10px;" onclick="CallFunctionUsingId()">
                    <i class="ace-icon fa fa-plus"></i>
                    Add
                </button>
            </div>
        </div>
    </div>


    @*<div id="modal-User" class="modal fade in" tabindex="-1" style="display: none;">
        @Html.Action("EmployeeCreation", "Master");
    </div><!-- /.modal-dialog -->

    <div id="modal-Department" class="modal fade in" tabindex="-1" style="display: none;">
        @Html.Action("Department", "Master");
    </div><!-- /.modal-dialog -->

    <div id="modal-Designation" class="modal fade in" tabindex="-1" style="display: none;">
        @Html.Action("Designation", "Master");
    </div><!-- /.modal-dialog -->

    <div id="modal-Machine" class="modal fade in" tabindex="-1" style="display: none;">
        @Html.Action("Machine", "Master");
    </div>*@<!-- /.modal-dialog -->
    @*<div class="col-xs-12">
            <h3 class="header smaller lighter grey">
                <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
                Imageless Spinner
                <small>(spin.js)</small>
            </h3>
        </div>*@
    <script>
        $('.table').DataTable({
        });

       
        function GetID(button, id) {
            $('#ButtonId').val(button);
            $('#Id').val(id);
            console.log($('#ButtonId').val());
            console.log($('#Id').val());
        }
        function CallFunctionUsingId() {
            if ($('#ButtonId').val() == "EmployeeSubmit") {
                submitEmployee();
            }
            else if ($('#ButtonId').val() == "EmployeeDelete") {
                deltEmployee($('#Id').val());
            }
            else if ($('#ButtonId').val() == "DepartmentSubmit") {
                submitDepartment();
            }
            else if ($('#ButtonId').val() == "DepartmentDelete") {
                deltDepartment($('#Id').val());
            }
            else if ($('#ButtonId').val() == "DesignationSubmit") {
                submitDesignation();
            }
            else if ($('#ButtonId').val() == "DesignationDelete") {
                deltDesignation($('#Id').val());
            }
            else if ($('#ButtonId').val() == "MachineSubmit") {
                deltEmployee($('#Id').val());
            }
            else if ($('#ButtonId').val() == "MachineDelete") {
                deltMachine($('#Id').val());
            }
        }

    </script>
